<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bayongapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BayongApp.NoActionBar">
        <activity
            android:name=".activities.EmployeeActivity"
            android:exported="true" />
        <activity
            android:name=".activities.OptionActivity"
            android:exported="true" />
        <activity
            android:name=".activities.DelActivity"
            android:exported="true" />
        <activity
            android:name=".activities.DeliverActivity"
            android:exported="true" />
        <activity
            android:name=".activities.CodOrDeliveryActivity"
            android:exported="true" />
        <activity
            android:name=".activities.PlacedOrderActivity"
            android:exported="true" />
        <activity
            android:name=".activities.NavCategoryActivity"
            android:exported="true" />
        <activity
            android:name=".activities.ViewAllActivity"
            android:exported="true" />
        <activity
            android:name=".activities.DetailedActivity"
            android:exported="true" />
        <activity
            android:name=".activities.Recap"
            android:exported="true" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.BayongApp.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>